* {
    font-family: "Arial";
    padding: 0;
}

.content-field {
    margin: 0 15%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    
}

.border-line {
    background-color: #6EC5FF;
    height: 10px;
    border: 0;
    margin: 0;
}

.border-line:last-child {
    margin-top: 100px;
}

.blue-line {
    background-color: #00BFFF;
    height: 4px;
    border: 0;
    border-radius: 3px;
}

table {
    margin: 20px 80px;
    table-layout: fixed;
    border-collapse: collapse;
}

td:first-child {
    width: 30%;
}

td:last-child {
    padding-left: 10px;
}

.photo {
    width: 100%;
    padding-bottom: 20px;
}

.name {
    color: #037AA7;
    margin: 0;
}

.position, .city {
    margin: 0;
    padding: 5px 0;
}

.contact-link, .certificate, .project, .codewar {
    font-weight: bold;
    color: #00BFFF;
}

.title {
    color: #3f4d65;
    font-weight: bold;
    text-align: end;
    margin: 0;
}

.about-description {
    margin: 0;
}

.university {
    margin: 0;
    text-decoration: underline;
}

.speciality, .language, .p-s {
    margin: 0;
}

.codewar {
    font-size: 19px;
}

.duration {
    margin: 0;
    font-size: small;
}

.skills {
    font-weight: bold;
    margin: 0;
    padding-left: 17px;
}

.projects, .area  {
    margin: 0 17px;
    font-weight: normal;
}

.areas {
    margin: 0;
    font-weight: bold;
}
